body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  overflow-x: hidden;
}

.arriba {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: gray;
  padding: 30px;
  margin: 50px 10;
}
.header1 {
  margin: 01%;

  display: flex;
  background-color: rgb(126, 126, 4);
  padding: 30px;
  margin: 30px 0;
}
.logo,
.nav,
.social {
  background-color: #ff4136;
  color: rgb(15, 15, 15);
  padding: 15px;
  margin: 5px;
}

.logo,
.social {
  width: 30%;
}

.nav {
  width: 90%;
}

.banner {
  width: 100%;
  background-color: rgb(221, 249, 11);
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.centro {
  display: flex;
  margin: 10px 0;
}

.left-column {
  background-color: gray;
  padding: 10px;
  margin-right: 10px;
  width: 65%;
}

.right-column {
  background-color: red;
  padding: 10px;
  width: 35%;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
}

.article,
.navegacion {
  background-color: #0074d9;
  color: rgb(17, 16, 16);
  font-weight: bold;
  padding: 20px;
  margin: 10px;
  margin-right: 10px;
  margin-left: 18px;
}

.publicidad {
  margin: 10px;
  margin-inline-start: 10px;
  width: 320px;
  background-color: #ff851b;
  padding: 20px;
}
.arriba,
.centro,
.abajo {
  background-color: black;
  padding: 20px;
  margin-top: 10px;
}

.pie {
  background-color: #ffdc00;
  padding: 30px;
  text-align: left;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header {
    background-image: url("header.jpg");
    background-size: 1024px;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: left;
  }

  .logo,
  .nav,
  .social {
    width: 100%;
    text-align: center;
  }
  .arriba,
  .centro,
  .abajo {
    margin-right: 10px;
  }

  .centro {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: auto;
    margin: 5px 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .arriba,
  .centro,
  .abajo {
    margin-right: 0px;
  }
  .header {
    background-size: 100%;
    background-image: url("header.jpg");
    flex-direction: column;
    align-items: center;
  }

  .logo,
  .nav,
  .social {
    width: 90%;
    text-align: left;
    margin: 5px;
  }
  .banner {
    width: 100%;
    background-color: #ffdc00;
  }
  .article {
    width: 83%;
    margin-left: 10px;
  }
  .navegacion {
    width: 83%;
    margin-left: 10px;
  }
  .publicidad {
    width: 85%;
  }

  .centro {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: auto;
    margin: 5px 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 24px;
  }
}
